$primary-color: red;
$secondary-color: blue;
$tertiary-color: green;

@mixin article-color($color: $secondary-color, $border-color: $tertiary-color, $font-size: 1rem) {
  text-align: center;
  color: $color;
  border: 1px solid $border-color;
  font-size: $font-size;
}

:root {
  font-size: 100%;
}

* {
  padding: 0.5em;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1.5px solid $primary-color;
  h1 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: $tertiary-color;
    text-decoration: underline;
    text-decoration-color: $secondary-color;
  }

  section {
    display: flex;

    .article-blue {
      @include article-color($color, $border-color, $font-size);
    }
    .article-red {
      @include article-color($primary-color, $border-color, $font-size);
    }
    .article-green {
      @include article-color($tertiary-color, $secondary-color, 1.5rem);
    }
  }
}
